<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e57a814-2e43-4eb5-b8e3-5f36fbac342e" Alias="About expert 5" Level="3">
  <Info>
    <Parent Key="ee594fce-40dd-479f-9d13-43932e644003">About</Parent>
    <Path>/images/About/AboutExpert5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T12:39:20</CreateDate>
    <NodeName Default="About expert 5" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tnrbd4bk/about-expert-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>