<?xml version="1.0" encoding="utf-8"?>
<Media Key="e602ab06-50cf-42ff-9f9a-0a15a50112d3" Alias="About us - Signature" Level="3">
  <Info>
    <Parent Key="6c967603-10fb-4175-a90a-6a9e45fa56aa">About us</Parent>
    <Path>/images/AboutUs/AboutUsSignature</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-03T14:21:56</CreateDate>
    <NodeName Default="About us - Signature" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4qlkabgu/about-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>