<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee594fce-40dd-479f-9d13-43932e644003" Alias="About" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T14:22:52</CreateDate>
    <NodeName Default="About" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>