<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c967603-10fb-4175-a90a-6a9e45fa56aa" Alias="About us" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T14:21:21</CreateDate>
    <NodeName Default="About us" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>