<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fd4a38e-0bd4-49da-b8bd-556bb5bfad2f" Alias="About expert 3" Level="3">
  <Info>
    <Parent Key="ee594fce-40dd-479f-9d13-43932e644003">About</Parent>
    <Path>/images/About/AboutExpert3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T12:38:52</CreateDate>
    <NodeName Default="About expert 3" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/afujeon3/about-expert-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>