<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf69507b-ffff-47e8-aa2e-4f3acdf13b86" Alias="About Tina Fox" Level="3">
  <Info>
    <Parent Key="ee594fce-40dd-479f-9d13-43932e644003">About</Parent>
    <Path>/images/About/AboutTinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T14:23:21</CreateDate>
    <NodeName Default="About Tina Fox" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4snc4cmw/about-tina-fox.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>