<?xml version="1.0" encoding="utf-8"?>
<Media Key="162d4c10-abb1-49bc-a461-98df409a3ae6" Alias="About expert 1" Level="3">
  <Info>
    <Parent Key="ee594fce-40dd-479f-9d13-43932e644003">About</Parent>
    <Path>/images/About/AboutExpert1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T12:38:34</CreateDate>
    <NodeName Default="About expert 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/t4dgxigy/about-expert-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>