<?xml version="1.0" encoding="utf-8"?>
<Media Key="2896a99e-2f97-41eb-b435-b0cd7f547e1b" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="940fbeb1-95c0-4e45-bef2-790162f58606">services</Parent>
    <Path>/images/services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:12:40</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cfrnbhx4/services-img-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>