<?xml version="1.0" encoding="utf-8"?>
<Media Key="813cdcfe-8ec4-493e-b567-9378abbd489c" Alias="Bg-primary-block-img.svg" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/BgPrimaryBlockImgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T13:25:39</CreateDate>
    <NodeName Default="Bg-primary-block-img.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brqj2y45/bg-primary-block-img.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>