<?xml version="1.0" encoding="utf-8"?>
<Media Key="234bdd3f-ad5d-43da-a22d-9b76496564d4" Alias="Bond &amp; Commodities" Level="3">
  <Info>
    <Parent Key="940fbeb1-95c0-4e45-bef2-790162f58606">services</Parent>
    <Path>/images/services/BondCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:12:25</CreateDate>
    <NodeName Default="Bond &amp; Commodities" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/walb1fju/services-img-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>