<?xml version="1.0" encoding="utf-8"?>
<Media Key="4325fbcd-1b58-4aa4-9bb9-7d732147727e" Alias="breadcrumb bg" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/breadcrumbBg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-13T15:45:03</CreateDate>
    <NodeName Default="breadcrumb bg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h3dipikd/breadcrumb-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>