<?xml version="1.0" encoding="utf-8"?>
<Media Key="b49d35f8-bea2-4e5d-8f1c-e9bf61c4775c" Alias="clients" Level="3">
  <Info>
    <Parent Key="3d487f76-396f-40b6-8b72-9b9f319d2bbc">clients</Parent>
    <Path>/images/clients/clients</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T14:10:05</CreateDate>
    <NodeName Default="clients" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/o55nwawl/our-story-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>