<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce1e88cc-b47a-4694-bf3c-7f11d16db0f4" Alias="clients dot map" Level="3">
  <Info>
    <Parent Key="3d487f76-396f-40b6-8b72-9b9f319d2bbc">clients</Parent>
    <Path>/images/clients/clientsDotMap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T14:09:30</CreateDate>
    <NodeName Default="clients dot map" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hy0lyldb/our-story-dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>