<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d487f76-396f-40b6-8b72-9b9f319d2bbc" Alias="clients" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/clients</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-23T14:08:16</CreateDate>
    <NodeName Default="clients" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>