<?xml version="1.0" encoding="utf-8"?>
<Media Key="06121f3f-1cd3-405d-9944-dab71141e9b4" Alias="Contact-us.png" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/ContactUspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T11:02:11</CreateDate>
    <NodeName Default="Contact-us.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wdkfjmf0/contact-us.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>