<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac075efd-ace4-46b5-af45-36df33e188c6" Alias="Dot.svg" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-30T13:25:39</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b5rlktx5/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>