<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ab7866b-a7db-4364-9fad-10020953d100" Alias="FossilGroup" Level="3">
  <Info>
    <Parent Key="5e95957c-3719-4a05-afc2-dd459de4dafa">Partners</Parent>
    <Path>/images/Partners/FossilGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T11:46:26</CreateDate>
    <NodeName Default="FossilGroup" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/te3bk0ga/partner-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>