<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cbb6f25-c1f9-42c1-aae6-18a9a316aee6" Alias="FreedomBird" Level="3">
  <Info>
    <Parent Key="5e95957c-3719-4a05-afc2-dd459de4dafa">Partners</Parent>
    <Path>/images/Partners/FreedomBird</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T11:45:28</CreateDate>
    <NodeName Default="FreedomBird" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/05jbthxc/partner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>