<?xml version="1.0" encoding="utf-8"?>
<Media Key="46f60aa3-3c30-4163-b0ab-a1b425f906a0" Alias="Globe" Level="3">
  <Info>
    <Parent Key="5e95957c-3719-4a05-afc2-dd459de4dafa">Partners</Parent>
    <Path>/images/Partners/Globe</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T11:46:15</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kg1fjjbl/partner-5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>