<?xml version="1.0" encoding="utf-8"?>
<Media Key="69e5b8fb-c43e-4db9-ab44-b7ff66b2a798" Alias="Hero Slider" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T12:00:52</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>