<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0c8540d-dd03-455d-8539-4e384a1d1343" Alias="Hero slider image" Level="3">
  <Info>
    <Parent Key="69e5b8fb-c43e-4db9-ab44-b7ff66b2a798">Hero Slider</Parent>
    <Path>/images/HeroSlider/HeroSliderImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T12:01:32</CreateDate>
    <NodeName Default="Hero slider image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qkpi23tk/sl-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>