<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a18eb93-dd4c-4648-98df-6c04e1f3702b" Alias="Identity" Level="3">
  <Info>
    <Parent Key="5e95957c-3719-4a05-afc2-dd459de4dafa">Partners</Parent>
    <Path>/images/Partners/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T11:45:40</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mfllvgcx/partner-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>