<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3" Alias="images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/images</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T12:00:35</CreateDate>
    <NodeName Default="images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>