<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c1b41a7-c18e-4c60-aa4b-000a6154cf6d" Alias="Kevin Gardner" Level="3">
  <Info>
    <Parent Key="ee594fce-40dd-479f-9d13-43932e644003">About</Parent>
    <Path>/images/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T15:40:30</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fcff1oxh/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>