<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ba15b97-2d64-41c6-86a8-0c9704e53c91" Alias="Logotype.svg" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/Logotypesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T13:18:11</CreateDate>
    <NodeName Default="Logotype.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxtahgl5/logotype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>