<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1ed31d9-cdd2-4624-9445-b7ad6c699870" Alias="map-contact.svg" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/mapContactsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-02T14:03:59</CreateDate>
    <NodeName Default="map-contact.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/foge4e4j/map-contact.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>