<?xml version="1.0" encoding="utf-8"?>
<Media Key="a559329c-e2e0-4e59-b2f4-7448a13c0eca" Alias="Natural" Level="3">
  <Info>
    <Parent Key="5e95957c-3719-4a05-afc2-dd459de4dafa">Partners</Parent>
    <Path>/images/Partners/Natural</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T11:45:50</CreateDate>
    <NodeName Default="Natural" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n0hpwr51/partner-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>