<?xml version="1.0" encoding="utf-8"?>
<Media Key="d47acdac-9371-4f72-829b-caf78166cde4" Alias="project image sample 2" Level="3">
  <Info>
    <Parent Key="868f964c-f4d1-44e6-98b9-cd5778ef48a5">projects</Parent>
    <Path>/images/projects/projectImageSample2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-25T10:44:34</CreateDate>
    <NodeName Default="project image sample 2" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/emddyyqy/project-image-sample-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>