<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e2e3bd0-6676-4433-846e-601ecb1ad483" Alias="projects 3" Level="3">
  <Info>
    <Parent Key="868f964c-f4d1-44e6-98b9-cd5778ef48a5">projects</Parent>
    <Path>/images/projects/projects3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T15:46:59</CreateDate>
    <NodeName Default="projects 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/l5yhrwa5/projects-img-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>