<?xml version="1.0" encoding="utf-8"?>
<Media Key="868f964c-f4d1-44e6-98b9-cd5778ef48a5" Alias="projects" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-16T15:46:20</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>