<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8083082-9993-4537-9240-02778debf114" Alias="Risk management" Level="3">
  <Info>
    <Parent Key="940fbeb1-95c0-4e45-bef2-790162f58606">services</Parent>
    <Path>/images/services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:12:11</CreateDate>
    <NodeName Default="Risk management" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bx3e21x0/services-img-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>