<?xml version="1.0" encoding="utf-8"?>
<Media Key="940fbeb1-95c0-4e45-bef2-790162f58606" Alias="services" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-13T13:11:18</CreateDate>
    <NodeName Default="services" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>