<?xml version="1.0" encoding="utf-8"?>
<Media Key="d04c8799-ebcb-4255-84a4-306af698de1a" Alias="services-img-1.png" Level="2">
  <Info>
    <Parent Key="6e7bdeb1-7523-4573-bad2-bcaa5d1ce5a3">images</Parent>
    <Path>/images/servicesImg1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T14:56:21</CreateDate>
    <NodeName Default="services-img-1.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/czgbuzvc/services-img-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>