<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f5334bf-47ae-4b9c-9b83-534e36f90201" Alias="simpleaf" Level="3">
  <Info>
    <Parent Key="5e95957c-3719-4a05-afc2-dd459de4dafa">Partners</Parent>
    <Path>/images/Partners/simpleaf</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T11:46:03</CreateDate>
    <NodeName Default="simpleaf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwepdxnv/partner-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>