<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb3bad9f-a27e-43d0-b543-288343397699" Alias="success story image" Level="3">
  <Info>
    <Parent Key="3bde5d5a-04c9-4987-8133-59db8f5a4191">success story</Parent>
    <Path>/images/successStory/successStoryImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T15:39:39</CreateDate>
    <NodeName Default="success story image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cbth0tix/sucess-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>