<?xml version="1.0" encoding="utf-8"?>
<Media Key="03ae13db-a589-4545-b297-d3a4ed485c12" Alias="success dot map" Level="3">
  <Info>
    <Parent Key="3bde5d5a-04c9-4987-8133-59db8f5a4191">success story</Parent>
    <Path>/images/successStory/successDotMap</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T15:39:18</CreateDate>
    <NodeName Default="success dot map" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fgxazyms/success-dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>