<?xml version="1.0" encoding="utf-8"?>
<Media Key="d15c0649-45e4-4724-b450-8a5818b460b0" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="940fbeb1-95c0-4e45-bef2-790162f58606">services</Parent>
    <Path>/images/services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-13T13:12:54</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y1gbuz2n/services-img-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>