@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var selectedImage = Model?.Content.Value<IPublishedContent>("selectedImage")?.Url() ?? null;
    var imageAlt = Model?.Content.Value<string>("imageAlt") ?? "";
}

@if (!string.IsNullOrEmpty(selectedImage))
{
    <div class="img-div">
        <img src="@selectedImage" alt="@imageAlt">
    </div>
}