@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var headlineContent = Model?.Content.Value<string>("headlineContent");
    var selectedImage = Model?.Content.Value<IPublishedContent>("selectedImage")?.Url() ?? null;
    var imageAlt = Model?.Content.Value<string>("imageAlt") ?? "";
    var paragraphContent = Model?.Content.Value<string>("paragraphContent");
}

@if (!string.IsNullOrEmpty(headlineContent))
{
    <h5>@headlineContent</h5>
    <img src="@selectedImage" alt="@imageAlt">
    <p>@paragraphContent</p>
}