@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var paragraphContent = Model?.Content.Value<string>("paragraphContent") ?? "";
    var isCursive = Model?.Content.Value<bool>("cursive") ?? false;
}

@if (!string.IsNullOrEmpty(paragraphContent))
{
    
    <p class="@(isCursive ? "italic-text" : "")">@paragraphContent</p>  
}