@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IEnumerable<string>>

@if (Model != null && Model.Any())
{
    <div class="project-tags">
        <h4>Tags</h4>
        <div class="tags">
            @foreach (var tag in Model)
            {            
                <a href="@Url.Action("ProjectsByTag", "Project", new { tag = tag })">
                    <p>@tag</p>
                </a>
            } 
        </div>  
    </div>
}
else
{
    <p>error loading tags</p>
}
