@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var sectionTitle = Model?.Content.Value<string>("sectionTitle") ?? "";
    var sectionId = sectionTitle?.ToString().ToLower().Trim().Replace(" ", "-");

    var spacingTopClass = (Model.Content.Value<bool>("addSpaceToTop")) ? "spacing-top" : "";
    var spacingToBottomClass = (Model.Content.Value<bool>("addSpaceToBottom")) ? "spacing-bottom" : "";
    var centerContentClass = (Model.Content.Value<bool>("centerContentOnPage")) ? "center" : "";

    var sectionBackgroundColor = Model?.Content.Value("sectionBackgroundColor");
    string sectionBackgroundColorLabel = null;
    string sectionBackgroundHex = null;

    if (sectionBackgroundColor != null)
    {
        
        if (sectionBackgroundColor is Newtonsoft.Json.Linq.JObject)
        {
            var colorData = sectionBackgroundColor as Newtonsoft.Json.Linq.JObject;
            sectionBackgroundHex = colorData["value"]?.ToString();
            sectionBackgroundColorLabel = colorData["label"]?.ToString();
        }
        else if (sectionBackgroundColor is string)
        {
            sectionBackgroundHex = sectionBackgroundColor.ToString();
        }
    }

    var backgroundColorClass = (!string.IsNullOrEmpty(sectionBackgroundColorLabel) && sectionBackgroundColorLabel != "none") ? $"bg-{sectionBackgroundColorLabel.ToLower()}" : "";

    var sectionBackgroundImage = Model?.Content.Value<IPublishedContent>("sectionBackgroundImage")?.Url() ?? null;
}

<section id="@sectionId" class="@spacingTopClass @spacingToBottomClass @backgroundColorClass">

    @if (!string.IsNullOrEmpty(sectionBackgroundHex))
    {
        <div class="background" style="background-color:@sectionBackgroundHex;"></div>
    }

    <div class="container @centerContentClass">

        @if(!string.IsNullOrEmpty(sectionBackgroundImage))
        {
            <img class="background-image" src="@sectionBackgroundImage" alt="@sectionTitle background image">
        }

        @await Html.GetBlockGridItemAreasHtmlAsync(Model)
    </div>  
</section>
