@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Name;
    
    
    var currentTags = Model.Value<IEnumerable<string>>("projectTags") ?? Enumerable.Empty<string>();
    var currentPublicationDate = Model.Value<DateTime>("publicationDate").ToString("dd MMMM yyyy");

    var selection = Umbraco.Content(Guid.Parse("7a3a0c54-8c7e-4454-9157-ffe2b2e1911c"))
        .ChildrenOfType("projectItemTemplate")
        .Where(x => x.IsVisible());
    var allTags = selection
        .SelectMany(x => x.Value<IEnumerable<string>>("projectTags") ?? Enumerable.Empty<string>())
        .Distinct() 
        .ToList();

}



<section class="project-details">
    <div class="container">
        <div class="date">
            <i class="fa-regular fa-calendar-days"></i>
            <p>@currentPublicationDate</p>
        </div>
        @Model.Value("pageContent")
        @await Html.PartialAsync("partials/blockgrid/components/projectTags.cshtml", currentTags) 
        
    </div>
    <aside class="projects-aside">
        @await Html.PartialAsync("partials/blockgrid/components/recentProjectsAside.cshtml")
        @await Html.PartialAsync("partials/blockgrid/components/projectTags.cshtml", allTags)
    </aside>
</section>
