@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Name;
}
@await Html.PartialAsync("partials/static/breadcrumb.cshtml")

<section id="service-details">
	@await Html.PartialAsync("partials/blockgrid/components/serviceArticleAside.cshtml")
	<div class="container">
		@Model.Value("pageContent")
	</div>
</section>
@await Html.PartialAsync("partials/static/contactUsBlockStatic.cshtml")