header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 20px 0;

        #navbar {
            display: flex;
            align-items: center;        
            
            .nav-menu {
                display: flex;
                column-gap: 60px;
                padding-top: 10px;
                

                .nav-link {
                    color: var(--color-primary);
                    font-weight: 600;
                    &.active, &:hover {
                        color: var(--color-secondary);
                        text-decoration: none;
                    }
                }
            }
        }
        .search {
            font-weight: 600;
        }
        #toggle-mobile-menu {

            @include desktop {
                display: none;
            }
        }
    }
}




