#our-services {
    
    .container {
        padding: 100px 0 100px 0;
        .headline {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
            padding-top: 50px;

            .title {
                text-align: center;
                margin-top: 40px;
                margin-bottom: 0;
                width: 50%;
            }
        }
        .services {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            a {
                border: 1px solid #eaeaea;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

                .item {
                   

                    h4 {
                        padding: 20px 0 0 20px;
                    }
                }

                .body {
                    img {
                        width: 400px;
                        height: auto;
                    }
                }

                .footer {
                    p {
                        font-size: 0.8em;
                        color: var(--color-primary);
                        padding: 20px;
                    }
                }
            }
        }

        .pagination {   
            
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 40px;
                

                .change {
                    color: var(--color-dark);
                    text-decoration: none;
                    font-weight: 600;                 

                    &.inactive {
                        color: #cfcfcf;
                        text-decoration: none;    

                        &:hover {
                            color: #cfcfcf;
                        }
                    }

                    &:hover {
                        color: var(--color-secondary);
                    }
                }

                .pages {
                    display: flex;
                    

                    .number {
                        list-style-type: none; 
                        margin-right: 35px;
                        a {
                            display: inline-block;
                            width: 40px; 
                            height: 40px;
                            line-height: 40px; 
                            text-align: center;
                            border-radius: 50%; 
                            border: 1px solid transparent; 
                            color: var(--color-dark); 
                            text-decoration: none;
                            

                            &:hover {
                                
                                color: var(--color-secondary);
                            }
                        }

                        &.active a {
                            border: 2px solid #eaeaea; 
                        }
                    }
                }
            }
        }
    }
}
