.project-details {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 

    .container {
        max-width: 900px; 
        grid-column: 1 / 2; 

        .date {
            display: flex;
            padding-top: 70px;

            i {
                margin-top: 3px;
                margin-right: 5px;
            }

        }

        img {
            margin-bottom: 10px;
        }

        .project-tags {
            display: flex;
            justify-content: left;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 80px;

            h4 {
                font-size: 1rem;
                margin-right: 15px;
            }

            .tags {
                display: block;
                width: 100%;

                a {
                    background-color: var(--color-accent);
                    color: var(--color-dark);
                    border: none;
                    border-radius: 25px;
                    padding: 15px 15px 0;
                    line-height: 1;
                    margin: 10px 5px;
                }
            }
        }
    }

   
    .projects-aside {
        grid-column: 2 / 3; 
        border-left: 1px solid #eaeaea;
        margin-top: 60px;
        margin-bottom: 70px;

        #recent-projects-aside {
            display: flex;
            flex-direction: column;          
            padding-left: 20px;

            .recent-projects-item {
                border-bottom: 1px solid #eaeaea;
                padding: 10px 0 10px 0;

                &:last-child {
                    border-bottom: none;
                }

                & > a {
                    display: flex;
                    align-items: center;

                    & > img {
                        min-width: 150px;
                        height: 70px;
                        object-fit: cover; 
                        object-position: center;
                        
                    }

                    .title-card {
                        color: var(--color-primary);
                        font-size: 0.8rem;
                        margin-left: 10px;
                        
                        .publication-date {
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            font-size: 0.8rem;


                            i {
                                margin: 0 5px 18px 0px;
                            }
                            & > p {
                                margin-left: 5px;
                                color: #c9c9c9;
                            }
                        }
                    }
                }
            }
        }
        .project-tags {
            padding-left: 20px;
            margin-top: 40px;

            h4 {
                font-size: 1rem;
                margin-right: 15px;
            }
            
            .tags {
              display: block;
              width: 100%;

                
      
                a {
                    color: var(--color-dark);
                    border: 1px solid #cecece;
                    border-radius: 25px;
                    padding: 15px 10px 0 10px;
                    line-height: 1;
                    margin: 10px 5px 10px 5px;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
