#hero-slider {  
    position: relative;
    
    .background-image {             
        
    }

    .dynamic-container {
        position: absolute;
        top: -500px;
        left: 215px;
    }

    a {
        margin-top: 20px;
    }
   
}