#success-background-color {
    position: relative;
    z-index: 1;  
    height: 90vh;

    .background-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;  
    }

    h6 {
        padding-top: 140px;
    }
    
    h1 {
        color: var(--color-secondary)
    }

    p {
        padding: 0 30px;
    }

    h2, h1, p, h6 {
        text-align: center;
    }

    
}

#success-image-section {
    position: relative; 
    z-index: 2;  

    .container {
        .img-div {
            position: absolute;  
            top: -370px; 
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;
        }
    }
}
