@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #535656;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*UMBRACO STANDARD CSS*/
.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  -moz-column-gap: var(--umb-block-grid--column-gap, 0);
       column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  -moz-column-gap: var(--umb-block-grid--areas-column-gap, 0);
       column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
.container {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

.container-fluid {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1024px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.9em;
  margin-left: 0.3em;
}

.btn-dark, .btn-primary, .btn-secondary, .btn-accent, .btn-gray, .btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover, .btn-primary:hover, .btn-secondary:hover, .btn-accent:hover, .btn-gray:hover, .btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.italic-text {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, nav {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none !important;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

nav {
  font-size: 16px;
}

blockquote {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

#topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topbar .container .socialmedia .socialmedia-item {
  padding: 15px;
  border-left: 1px solid #606966;
  border-right: 1px solid #606966;
}
#topbar .container .socialmedia .socialmedia-item:first-child {
  border-right: none;
}
#topbar .container .socialmedia .socialmedia-item:last-child {
  border-left: none;
}
#topbar .container .socialmedia a[target=_blank] {
  color: var(--color-light);
}
#topbar .container .socialmedia a[target=_blank]::after {
  content: none !important;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
header .container #navbar {
  display: flex;
  align-items: center;
}
header .container #navbar .nav-menu {
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
  padding-top: 10px;
}
header .container #navbar .nav-menu .nav-link {
  color: var(--color-primary);
  font-weight: 600;
}
header .container #navbar .nav-menu .nav-link.active, header .container #navbar .nav-menu .nav-link:hover {
  color: var(--color-secondary);
  text-decoration: none;
}
header .container .search {
  font-weight: 600;
}
@media (min-width: 1024px) {
  header .container #toggle-mobile-menu {
    display: none;
  }
}

#page-breadcrumb {
  background-color: var(--color-gray);
  padding-top: 20px;
  padding-bottom: 70px;
  position: relative;
  box-shadow: inset 0 10px 20px -10px rgba(0, 0, 0, 0.06), inset 0 -10px 20px -10px rgba(0, 0, 0, 0.06);
}
#page-breadcrumb #bg-img-1 {
  position: absolute;
  top: -20px;
  right: -400px;
}
#page-breadcrumb #bg-img-1 img {
  width: 80%;
  height: auto;
  opacity: 70%;
}
#page-breadcrumb #bg-img-2 {
  transform: rotate(180deg);
  position: absolute;
  bottom: -70px;
  left: -400px;
}
#page-breadcrumb #bg-img-2 img {
  width: 80%;
  height: auto;
  opacity: 70%;
}
#page-breadcrumb .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#page-breadcrumb .container h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}
#page-breadcrumb .container .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
#page-breadcrumb .container .breadcrumb a {
  font-size: 12px;
  color: var(--color-primary);
}
#page-breadcrumb .container .breadcrumb a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}
#page-breadcrumb .container .breadcrumb p {
  margin-top: 20px;
  font-size: 12px;
}
#page-breadcrumb .container .breadcrumb .active {
  color: var(--color-secondary);
  margin-top: 3px;
  font-size: 12px;
}

#hero-slider {
  position: relative;
}
#hero-slider .dynamic-container {
  position: absolute;
  top: -500px;
  left: 215px;
}
#hero-slider a {
  margin-top: 20px;
}

#about-tina-fox {
  padding: 100px 0 100px 0;
}
#about-tina-fox img {
  margin-top: 10px;
  margin-bottom: 15px;
}

#our-services .container .headline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
#our-services .container .headline .title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
  width: 50%;
}
#our-services .container .services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
#our-services .container .services a {
  border: 1px solid #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#our-services .container .services a .item h4 {
  padding: 20px 0 0 20px;
}
#our-services .container .services a .body img {
  width: 400px;
  height: auto;
}
#our-services .container .services a .footer p {
  font-size: 0.8em;
  color: var(--color-primary);
  padding: 20px;
}
#our-services .container .pagination .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
#our-services .container .pagination .container .change {
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 600;
}
#our-services .container .pagination .container .change.inactive {
  color: #cfcfcf;
  text-decoration: none;
}
#our-services .container .pagination .container .change.inactive:hover {
  color: #cfcfcf;
}
#our-services .container .pagination .container .change:hover {
  color: var(--color-secondary);
}
#our-services .container .pagination .container .pages {
  display: flex;
}
#our-services .container .pagination .container .pages .number {
  list-style-type: none;
  margin-right: 35px;
}
#our-services .container .pagination .container .pages .number a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid transparent;
  color: var(--color-dark);
  text-decoration: none;
}
#our-services .container .pagination .container .pages .number a:hover {
  color: var(--color-secondary);
}
#our-services .container .pagination .container .pages .number.active a {
  border: 2px solid #eaeaea;
}

#clients {
  position: relative;
  min-height: auto;
}
#clients .container {
  margin-top: 100px;
  position: relative;
  z-index: 1;
  text-align: center;
}
#clients .container h2.secondary {
  color: var(--color-secondary);
}
#clients .container p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
#clients .container .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#clients .container .img-div {
  position: relative;
  z-index: 10;
  height: auto;
  margin-top: 50px;
}
#clients .container .img-div > img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 11;
}

#success-background-color {
  position: relative;
  z-index: 1;
  height: 90vh;
}
#success-background-color .background-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#success-background-color h6 {
  padding-top: 140px;
}
#success-background-color h1 {
  color: var(--color-secondary);
}
#success-background-color p {
  padding: 0 30px;
}
#success-background-color h2, #success-background-color h1, #success-background-color p, #success-background-color h6 {
  text-align: center;
}

#success-image-section {
  position: relative;
  z-index: 2;
}
#success-image-section .container .img-div {
  position: absolute;
  top: -370px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#recent-projects-title {
  padding-top: 300px;
}

#recent-projects {
  display: flex;
  flex-wrap: wrap;
}
#recent-projects .recent-projects-item {
  flex: 1 1 calc(25% - 20px);
  position: relative;
}
#recent-projects .recent-projects-item img {
  width: 100%;
  height: auto;
}
#recent-projects .recent-projects-item .title-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 20px 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  transition: opacity 1s ease, padding 1s ease;
}
#recent-projects .recent-projects-item .title-card i {
  opacity: 0;
  transition: opacity 1s ease;
}
#recent-projects .recent-projects-item:hover .title-card {
  opacity: 1;
  padding: 40px 40px;
  color: var(--color-secondary);
}
#recent-projects .recent-projects-item:hover .title-card i {
  opacity: 1;
}

#projects .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-bottom: 50px;
  padding-top: 50px;
}
#projects .container .projects-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#projects .container .projects-list .project {
  display: flex;
  color: var(--color-dark);
  border-bottom: 2px solid var(--color-gray);
  padding-bottom: 20px;
}
#projects .container .projects-list .project:hover .project-image img {
  transform: scale(1.4) rotate(10deg);
  filter: brightness(1.1);
}
#projects .container .projects-list .project .project-image {
  display: inline-block;
  overflow: hidden;
  max-height: 250px;
}
#projects .container .projects-list .project .project-image img {
  transition: transform 0.3s ease, filter 0.3s ease;
  transform-origin: center center;
}
#projects .container .projects-list .project .item {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 10px;
}
#projects .container .projects-list .project .item .title h4 {
  font-size: 1rem;
}
#projects .container .projects-list .project .item .date {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.8rem;
}
#projects .container .projects-list .project .item .date i {
  margin: 0 5px 18px 5px;
}
#projects .container .projects-list .project .item .body {
  font-size: 0.8rem;
}
#projects .container .projects-list .project .item .footer {
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 0;
  margin: 0;
}
#projects .container .projects-list .project .item .footer #readmore i {
  color: var(--color-secondary);
  margin-left: 10px;
}
#projects .container .projects-list .pagination .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .container .projects-list .pagination .container .change {
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 600;
}
#projects .container .projects-list .pagination .container .change.inactive {
  color: #cfcfcf;
  text-decoration: none;
}
#projects .container .projects-list .pagination .container .change.inactive:hover {
  color: #cfcfcf;
}
#projects .container .projects-list .pagination .container .change:hover {
  color: var(--color-secondary);
}
#projects .container .projects-list .pagination .container .pages {
  display: flex;
}
#projects .container .projects-list .pagination .container .pages .number {
  list-style-type: none;
  margin-right: 35px;
}
#projects .container .projects-list .pagination .container .pages .number a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid transparent;
  color: var(--color-dark);
  text-decoration: none;
}
#projects .container .projects-list .pagination .container .pages .number a:hover {
  color: var(--color-secondary);
}
#projects .container .projects-list .pagination .container .pages .number.active a {
  border: 2px solid #eaeaea;
}
#projects .container .project-tags {
  border-left: 1px solid #eaeaea;
  margin-left: 30px;
  padding-left: 20px;
}
#projects .container .project-tags .tags {
  display: block;
  width: 100%;
}
#projects .container .project-tags .tags a {
  color: var(--color-dark);
  border: 1px solid #cecece;
  border-radius: 25px;
  padding: 15px 15px 0 15px;
  line-height: 1;
  margin: 10px 5px 10px 5px;
}

#review {
  padding: 0;
  margin: 0;
  display: flex;
}
#review img {
  width: 100%;
  height: 400px; /* Makes the image cover the full height of the viewport */
  -o-object-fit: cover;
     object-fit: cover; /* Makes the image cover the full width of the viewport */
}

#experts {
  padding-top: 50px;
}
#experts h2, #experts h6 {
  text-align: center;
}
#experts .container .dynamic-container {
  border: 1px solid #eaeaea;
  margin-right: 20px;
  margin-bottom: 20px;
}
#experts .container .dynamic-container h5 {
  margin-left: 15px;
  margin-top: 15px;
}
#experts .container .dynamic-container p {
  margin-left: 15px;
  font-size: 0.8rem;
}
#experts .container img {
  width: 100%;
  height: auto;
}

#partners .container .image-slider .slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}
#partners .container .image-slider .slides .slide-item {
  padding-right: 50px;
}
#partners .container .image-slider .slides .slide-item img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px 20px 20px;
}
footer .container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin-right: 5px;
}

.service-details {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
}
.service-details .container {
  max-width: 900px;
  grid-column: 2/3;
}
.service-details .container span {
  color: var(--color-default);
}
.service-details .container img {
  margin-bottom: 10px;
}
.service-details .container ul {
  padding-left: 15px;
  line-height: 2;
}
.service-details .container ul li::marker {
  color: var(--color-secondary);
}
.service-details #service-article-aside {
  grid-column: 1/2;
  margin-top: 60px;
  margin-bottom: 70px;
  width: 80%;
  border-right: 1px solid #eaeaea;
}
.service-details #service-article-aside > a > img {
  width: 300px;
}
.service-details #service-article-aside > a p {
  padding-top: 20px;
  font-size: 0.8rem;
  color: var(--color-default);
  margin-right: 50px;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.project-details .container {
  max-width: 900px;
  grid-column: 1/2;
}
.project-details .container .date {
  display: flex;
  padding-top: 70px;
}
.project-details .container .date i {
  margin-top: 3px;
  margin-right: 5px;
}
.project-details .container img {
  margin-bottom: 10px;
}
.project-details .container .project-tags {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 80px;
}
.project-details .container .project-tags h4 {
  font-size: 1rem;
  margin-right: 15px;
}
.project-details .container .project-tags .tags {
  display: block;
  width: 100%;
}
.project-details .container .project-tags .tags a {
  background-color: var(--color-accent);
  color: var(--color-dark);
  border: none;
  border-radius: 25px;
  padding: 15px 15px 0;
  line-height: 1;
  margin: 10px 5px;
}
.project-details .projects-aside {
  grid-column: 2/3;
  border-left: 1px solid #eaeaea;
  margin-top: 60px;
  margin-bottom: 70px;
}
.project-details .projects-aside #recent-projects-aside {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item {
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0 10px 0;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item:last-child {
  border-bottom: none;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item > a {
  display: flex;
  align-items: center;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item > a > img {
  min-width: 150px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item > a .title-card {
  color: var(--color-primary);
  font-size: 0.8rem;
  margin-left: 10px;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item > a .title-card .publication-date {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.8rem;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item > a .title-card .publication-date i {
  margin: 0 5px 18px 0px;
}
.project-details .projects-aside #recent-projects-aside .recent-projects-item > a .title-card .publication-date > p {
  margin-left: 5px;
  color: #c9c9c9;
}
.project-details .projects-aside .project-tags {
  padding-left: 20px;
  margin-top: 40px;
}
.project-details .projects-aside .project-tags h4 {
  font-size: 1rem;
  margin-right: 15px;
}
.project-details .projects-aside .project-tags .tags {
  display: block;
  width: 100%;
}
.project-details .projects-aside .project-tags .tags a {
  color: var(--color-dark);
  border: 1px solid #cecece;
  border-radius: 25px;
  padding: 15px 10px 0 10px;
  line-height: 1;
  margin: 10px 5px 10px 5px;
  font-size: 0.8rem;
}

#contact-us {
  position: relative;
}
#contact-us .background-image {
  position: absolute;
  bottom: 0;
  left: 370px;
}
#contact-us .contact-us-block {
  padding: 70px 0 0 0;
}
#contact-us .contact-us-block .container {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 200px;
       column-gap: 200px;
}
#contact-us .contact-us-block .container .contact-us-info h2 {
  margin-bottom: 40px;
}
#contact-us .contact-us-block .container .contact-us-info .contact-items .contact-item {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
#contact-us .contact-us-block .container .contact-us-info .contact-items .contact-item .contact-icon {
  margin-right: 15px;
  width: 10px;
}
#contact-us .contact-us-block .container .contact-us-info .contact-items .contact-item .contact-item-text .contact-us-info-title {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#contact-us .contact-us-block .container .contact-us-info .contact-items .contact-item .contact-item-text .contact-us-info-text {
  margin-bottom: 20px;
}