<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5f161845-78ad-4e41-91bd-e748125fff4a" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "2c16e5e3-c56e-4afe-b947-c1b59ef3e1ac",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "93f56a63-8b55-42c7-ba82-899def500b11",
      "label": "InputPassword- {=uniqueName}"
    },
    {
      "contentElementTypeKey": "9b5065be-63c6-47cf-b721-bce500b96ed4",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "aca677d9-86f1-4525-8fe4-457c63035ac9",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>