<?xml version="1.0" encoding="utf-8"?>
<DataType Key="03c29ee1-10d0-4089-8125-dd8bc0d903a1" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel"
  ]
}]]></Config>
</DataType>