<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6066ff04-cbb5-4aa6-afd4-69c51161c52f" Alias="Main form - Form Email - Email Property Editor UI" Level="1">
  <Info>
    <Name>Main form - Form Email - Email Property Editor UI</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.EmailAddress</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "email"
}]]></Config>
</DataType>