<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2028460-df6f-4a41-9de0-688ab1548f75" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "e3275e0d-1e7d-4dfd-861b-2f98779b8bde",
      "name": "Containers"
    },
    {
      "key": "bca4738c-b716-44ab-9547-8d759183b087",
      "name": "Components"
    },
    {
      "key": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "name": "Content"
    },
    {
      "key": "4af280a4-f3f2-4e5c-9302-5879adbc1648",
      "name": "Form"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "576793b2-d640-4403-b92e-f16baaa1901b",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areaGridColumns": 12,
      "areas": [
        {
          "key": "fffd26d4-adbc-46c9-88e0-52e5ee34bbd9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "e3275e0d-1e7d-4dfd-861b-2f98779b8bde"
    },
    {
      "contentElementTypeKey": "1f93e596-069f-4670-a56b-cd108a36a83d",
      "allowAtRoot": true,
      "groupKey": "e3275e0d-1e7d-4dfd-861b-2f98779b8bde",
      "label": "**{=sectionTitle}**",
      "areas": [
        {
          "key": "d42a4ee1-6d9c-478c-9231-7a943ff1d877",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b9c2d56f-d8e3-48a9-9eb5-585338c254d9",
      "allowAtRoot": false,
      "groupKey": "e3275e0d-1e7d-4dfd-861b-2f98779b8bde",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "196e24cf-2f34-4e24-a8c4-3b8528a31089",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3a052f3a-fce6-4288-8272-3f94282df22d",
      "allowAtRoot": false,
      "groupKey": "e3275e0d-1e7d-4dfd-861b-2f98779b8bde",
      "label": "dynamic container",
      "areas": [
        {
          "key": "c0d1469f-f563-41a2-997c-a1fec0c533b7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 11
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b56bdd80-1d77-415e-8f8a-b1711866c036",
      "allowAtRoot": false,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9156df2c-8a62-487c-9788-c606aaab0e67",
      "allowAtRoot": true,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087"
    },
    {
      "contentElementTypeKey": "c88be267-7aaa-4316-be4e-eeb84e7d9e81",
      "allowAtRoot": true,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "261b35e0-2ca6-49ac-acc8-364c704cd4af",
      "allowAtRoot": true,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0c87bcbd-09da-4b48-ac4a-32fb76708591",
      "allowAtRoot": true,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "91ca4698-54d3-4c49-9664-1b4d43b025c0",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "allowInAreas": true,
      "label": "button link"
    },
    {
      "contentElementTypeKey": "79f08763-b4fc-4b23-9a79-1ae443042754",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "image html element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "415a50d9-730f-4fb8-bbeb-146695cbe963",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "67f7b5ab-2529-4c91-bb43-65a456a184b6",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "af9acf06-8b70-450b-b462-1fc245b03211",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bcfd6017-5b1a-46db-9b04-c44a88f7d25a",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "838e5ba2-3456-44cc-9b88-d17833c95862",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f6711a58-04fb-4317-9ea1-793a63a07a10",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d728ff34-a14f-4e79-8c94-aec0bb91028d",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6da721a5-6152-4b16-8cad-5dcc3a4aea01",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "cbc5b870-0cb1-4aea-bcd5-e98e7deaba31",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "6e7c806e-c383-4d5f-99b8-069f2eb448f4",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8281cca9-3c52-4678-9d01-7216482c8d14",
      "allowAtRoot": false,
      "groupKey": "304973f6-814e-44f8-baf4-3bcc760ae789",
      "label": "",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "aca677d9-86f1-4525-8fe4-457c63035ac9",
      "allowAtRoot": true,
      "groupKey": "26ba14fd-e127-4f30-89d7-ca4e9c9baf3e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "93f56a63-8b55-42c7-ba82-899def500b11",
      "allowAtRoot": true,
      "groupKey": "26ba14fd-e127-4f30-89d7-ca4e9c9baf3e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2c16e5e3-c56e-4afe-b947-c1b59ef3e1ac",
      "allowAtRoot": true,
      "groupKey": "26ba14fd-e127-4f30-89d7-ca4e9c9baf3e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9b5065be-63c6-47cf-b721-bce500b96ed4",
      "allowAtRoot": true,
      "groupKey": "26ba14fd-e127-4f30-89d7-ca4e9c9baf3e",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "4ca7e82c-e872-468e-a59e-3fef81b1d8c8",
      "allowAtRoot": true,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b568b035-615a-4f38-96c5-4c29ab1904d0",
      "allowAtRoot": true,
      "groupKey": "bca4738c-b716-44ab-9547-8d759183b087",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>