<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f9868f65-ecdb-4c5b-8a96-eac9cde1d5c0",
      "displayInline": true,
      "label": "articleTextOnRight"
    }
  ],
  "dimensions": {
    "width": 768
  },
  "maxImageSize": 0,
  "mode": "classic",
  "stylesheets": [
    "/main.css"
  ],
  "toolbar": [
    "undo",
    "redo",
    "cut",
    "copy",
    "paste",
    "styles",
    "fontsize",
    "backcolor",
    "blockquote",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "outdent",
    "indent",
    "table",
    "hr",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link"
  ]
}]]></Config>
</DataType>