<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f1de93d-05e4-41ca-8b60-8edbb10ebc4d" Alias="Section - Approved Background Color" Level="1">
  <Info>
    <Name>Section - Approved Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4f5955",
      "label": "Primary"
    },
    {
      "value": "d9c3a9",
      "label": "Secondary"
    },
    {
      "value": "f2eddc",
      "label": "Accent"
    },
    {
      "value": "f7f7f7",
      "label": "Gray"
    },
    {
      "value": "ffffff",
      "label": "Light"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>