<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ac57b5e-a7b9-4e20-9e7f-3ee28948fed4" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "826f781e-99ab-4db8-bf4f-b78031cdf5e5",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>