<?xml version="1.0" encoding="utf-8"?>
<Content Key="185e7c3a-18a3-452d-9e04-8cb9ed5625a1" Alias="Our Services" Level="2">
  <Info>
    <Parent Key="67a2d8fb-b3c5-43c8-b613-ffc6898f0a4b">Home</Parent>
    <Path>/Home/OurServices</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-12T11:59:00</CreateDate>
    <NodeName Default="Our Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86d5815a-8bdd-4096-9ff7-d754f97a8a71">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <servicePageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1f93e596-069f-4670-a56b-cd108a36a83d",
      "udi": "umb://element/0317b4bec7c94de082aacc4b69aa1e32",
      "sectionTitle": "Contact us",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#f7f7f7\u0022\r\n}",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022d7be0e69-bfe4-4460-b6d1-a9d4a20f3a9e\u0022,\u0022mediaKey\u0022:\u0022813cdcfe-8ec4-493e-b567-9378abbd489c\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "0c87bcbd-09da-4b48-ac4a-32fb76708591",
      "udi": "umb://element/843d34a198bc442ead5eeb561817ebd7"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/0317b4bec7c94de082aacc4b69aa1e32",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d42a4ee1-6d9c-478c-9231-7a943ff1d877",
            "items": [
              {
                "contentUdi": "umb://element/843d34a198bc442ead5eeb561817ebd7",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </servicePageLayout>
  </Properties>
</Content>