<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a3a0c54-8c7e-4454-9157-ffe2b2e1911c" Alias="Projects" Level="2">
  <Info>
    <Parent Key="67a2d8fb-b3c5-43c8-b613-ffc6898f0a4b">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsListPage</ContentType>
    <CreateDate>2024-09-16T15:56:39</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bd7d7d29-f191-4015-9bfe-96663d2b0f47">projectsListPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectListPageLayout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1f93e596-069f-4670-a56b-cd108a36a83d",
      "udi": "umb://element/af236d5c040945f0916f7f75de150b7b",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#f7f7f7\u0022\r\n}",
      "sectionTitle": "Contact us",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022f086e33c-ca17-4d0c-b5fc-76000c208c12\u0022,\u0022mediaKey\u0022:\u0022813cdcfe-8ec4-493e-b567-9378abbd489c\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "0c87bcbd-09da-4b48-ac4a-32fb76708591",
      "udi": "umb://element/1078b22f1cbd4061a504b0cca7bea131"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/af236d5c040945f0916f7f75de150b7b",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "d42a4ee1-6d9c-478c-9231-7a943ff1d877",
            "items": [
              {
                "contentUdi": "umb://element/1078b22f1cbd4061a504b0cca7bea131",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": []
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </projectListPageLayout>
  </Properties>
</Content>