<?xml version="1.0" encoding="utf-8"?>
<Content Key="d8a91600-5231-497f-a2e1-09b03d7a4a8e" Alias="Universal Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UniversalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-10T13:11:43</CreateDate>
    <NodeName Default="Universal Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "bb253c46-5376-4bbd-b875-0829a17b461e",
    "mediaKey": "7ba15b97-2d64-41c6-86a8-0c9704e53c91",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions for test]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "826f781e-99ab-4db8-bf4f-b78031cdf5e5",
      "udi": "umb://element/7c183f13056e4a12a5ff9ad9afc4414c",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "826f781e-99ab-4db8-bf4f-b78031cdf5e5",
      "udi": "umb://element/452536a4176e4829a96ecb0195f83550",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "826f781e-99ab-4db8-bf4f-b78031cdf5e5",
      "udi": "umb://element/14b227a6c85641da90bda75ad38aa4cd",
      "platformName": "[\u0022X (formerly Twitter\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "826f781e-99ab-4db8-bf4f-b78031cdf5e5",
      "udi": "umb://element/94a4f28289c74b9fb4620ae6edf52c73",
      "platformName": "[\u0022YouTube\u0022]",
      "platformAccountUrl": "https://youtube.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7c183f13056e4a12a5ff9ad9afc4414c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/452536a4176e4829a96ecb0195f83550",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/14b227a6c85641da90bda75ad38aa4cd",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/94a4f28289c74b9fb4620ae6edf52c73",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>