@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section id="contact-us">
    <section class="contact-us-block bg-gray">
        <div class="container">
            <div class="contact-us-image">
                <img src="/media/wdkfjmf0/contact-us.png" alt="Contact us Onatrix"/>
            </div>
            <div class="contact-us-info">
                <h2>Let us know about your next project</h2>

                <div class="contact-items">
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fa-light fa-location-dot"></i>
                        </div>
                        <div class="contact-item-text">
                            <p class="contact-us-info-title">Office location</p>
                            <p class="contact-us-info-text">Klarabergsviadukten 90, 111 52 Stockholm</p>
                        </div>
                    </div>

                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fa-light fa-phone"></i>
                        </div>
                        <div class="contact-item-text">
                            <p class="contact-us-info-title">Phone Number</p>
                            <p class="contact-us-info-text">+46 8 123 456 75</p>
                        </div>
                    </div>
                    
                    <div class="contact-item">
                        <div class="contact-icon">
                            <i class="fa-light fa-envelope"></i>
                        </div>
                        <div class="contact-item-text">
                            <p class="contact-us-info-title">E-mail address</p>
                            <p class="contact-us-info-text">sales@onatrix.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
