@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section id="contact-us-block">
    <div class="container">
        <div class="contact-us-image">
            <img src="/media/wdkfjmf0/contact-us.png" alt="Contact us Onatrix"/>
        </div>
        <div class="contant-us-info">
            <h2>Let us know about your next project</h2>
            <p class="contact-us-info-title">Office location</p>
            <p class="contact-us-info-text">Klarabergsviadukten 90, 111 52 Stockholm</p>

            <p class="contact-us-info-title">Phone Number</p>
            <p class="contact-us-info-text">+46 8 123 456 75</p>

            <p class="contact-us-info-title">E-mail address</p>
            <p class="contact-us-info-text">sales@onatrix.com</p>
        </div>
    </div>
</section>